# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

   ### Step 3. Assign each to a variable called cars1 and cars2

In [8]:
print(cars1.head())
print('----------------------------')
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
----------------------------
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [23]:
cars1.drop(columns=cars1.loc[:,'Unnamed: 9':],inplace=True)

### Step 5. What is the number of observations in each dataset?

In [24]:
print(f'The number of obs in cars1 is {cars1.shape[0]}')
print(f'The number of obs in cars2 is {cars2.shape[0]}')

The number of obs in cars1 is 198
The number of obs in cars2 is 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [26]:
cars = pd.concat([cars1,cars2])
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [29]:
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [31]:
rand_series = np.random.randint(low=15000, high=73000, size=398)
rand_series

array([58250, 35716, 43432, 52761, 15295, 59656, 48507, 45354, 63088,
       64677, 60791, 67216, 38899, 21850, 24165, 18422, 72986, 60401,
       28393, 66907, 27130, 65356, 25269, 30545, 38840, 21643, 35396,
       24695, 45640, 48061, 53515, 41531, 62753, 48381, 49259, 17239,
       52219, 66975, 57343, 33350, 18618, 52265, 15180, 55397, 47040,
       24612, 64647, 39240, 45849, 64573, 54674, 55689, 54814, 46458,
       40965, 66106, 56022, 62244, 71726, 40308, 64614, 49960, 49563,
       32834, 27878, 24997, 52006, 23556, 32447, 40567, 24321, 48463,
       54029, 16106, 18349, 59095, 50609, 49927, 40249, 53609, 52272,
       41691, 47994, 60362, 71500, 21031, 43325, 38062, 69836, 19598,
       55660, 22051, 16595, 46530, 68268, 68212, 64920, 49762, 16093,
       20293, 15282, 33346, 58836, 38768, 44651, 55273, 55883, 67903,
       52905, 59605, 34410, 20358, 18613, 63601, 65190, 27874, 26818,
       26234, 71569, 27384, 17600, 70277, 61013, 18581, 63666, 32940,
       24203, 18822, 71538, 31159, 52987, 26417, 15515, 24142, 37082,
       48926, 26281, 21177, 57994, 69711, 72622, 50654, 51897, 59862,
       59006, 17065, 21032, 35582, 55319, 38153, 15023, 37916, 62810,
       56572, 21014, 54798, 68997, 54102, 50843, 54174, 69127, 21394,
       47551, 40512, 22653, 68688, 49717, 45543, 23975, 26982, 23719,
       59074, 56408, 26861, 35950, 60274, 40820, 35114, 62274, 16862,
       42458, 71093, 61266, 26540, 21652, 53941, 44500, 29741, 41832,
       53358, 60642, 64770, 49822, 65287, 62177, 17597, 44525, 42400,
       27062, 67024, 44170, 48388, 65567, 25240, 61758, 34241, 59120,
       27550, 18843, 63512, 64926, 36886, 22885, 53632, 72962, 56935,
       61666, 18547, 72997, 45283, 29488, 15557, 27367, 40567, 47944,
       65852, 62373, 65275, 64059, 56906, 39773, 64302, 24139, 50189,
       67743, 47877, 62504, 61478, 58670, 59912, 20124, 45094, 48425,
       54922, 24296, 30409, 37668, 39057, 23063, 52676, 21377, 46696,
       65625, 43297, 23656, 70711, 68830, 20087, 57248, 65519, 48938,
       15300, 20304, 55083, 57227, 24069, 68949, 42344, 67756, 19328,
       24176, 33836, 35034, 23942, 33121, 45468, 26476, 63482, 51365,
       38672, 59445, 26222, 59796, 15355, 41812, 28671, 41175, 71095,
       23088, 64047, 65754, 39673, 54702, 57197, 67092, 31360, 60227,
       44045, 51572, 27657, 21798, 19367, 33787, 22862, 30246, 58464,
       49558, 59608, 62028, 46490, 39165, 24589, 43583, 69784, 51359,
       23534, 55793, 67521, 25865, 30984, 23703, 38045, 31168, 59087,
       27126, 44305, 64487, 19402, 61293, 45296, 24285, 33325, 48849,
       23556, 31178, 56171, 63742, 72283, 43086, 58455, 35349, 21740,
       50940, 28164, 47321, 49724, 40202, 68336, 69939, 38573, 32180,
       23182, 43367, 42431, 57533, 17610, 52681, 55846, 40876, 23679,
       55433, 20362, 52247, 43793, 29479, 45101, 71682, 61906, 21272,
       56065, 22556, 35476, 60668, 66651, 25723, 56185, 35682, 48158,
       16362, 39394, 57569, 19073, 69326, 51381, 59260, 64390, 72422,
       27333, 18887, 47715, 70156, 34235, 18310, 67865, 70464, 42827,
       25849, 42448])

### Step 8. Add the column owners to cars

In [32]:
cars['owners'] = rand_series

In [33]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,58250
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,35716
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,43432
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,52761
4,17.0,8,302,140,3449,10.5,70,1,ford torino,15295
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,67865
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,70464
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,42827
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,25849
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,42448